// app global css in SCSS form

body {
  font-family: "Lexend", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.price-tag {
  font-size: 24px;
  color: #874596;
}

.item-layout {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  flex: 1 0 21%;
  margin: 10px;
  height: 480px;
  width: 200px;
}

.sort-by-select {
  width: 250px;
  float: right;
}

.detail {
  &--item-name {
    font-size: 32px;
  }

  &--seller-name {
    font-size: 24px;
  }
}
