// app global css in SCSS form

body {
  font-family: "Lexend", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.price-tag {
  font-size: 24px;
  color: #459650;
}

.item-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 601px) {
  .item-card {
    flex: 1 0 21%;
    margin: 20px 10px 20px 10px;
  }

  .card-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .item-card {
    margin: 20px 10px 20px 10px;
  }

  .card-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
}

.sort-by-select {
  width: 200px;
  float: right;
}

.detail {
  &--item-name {
    font-size: 32px;
    font-weight: bold;
  }

  &--seller-name {
    font-size: 24px;
    font-weight: 400;
  }
}

.error-code-text {
  font-size: 10vh;
}

.error-description {
  opacity: 0.6;
}

.justify-content-center {
  justify-content: center;
}
